body{
    background-image: url('background.PNG');
}

.header {
    padding: 100 px 100 px 100 px;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    text-align: center;
}



.onbuttonclick {
    position: absolute;
    top: 89%;
    left: 53%;
    width: 250 px;
    height: 40 px;
    font-family: "Cambria";
    font-size: 1.5rem;
}


#movingText{
    position: absolute;
    z-index: 3;
    top: 76%;
    left: 57%;
    font-family: "Cambria";
    font-size: 1.5rem;
}